[Desktop Entry]
Version=1.0
Name=Kill Switch
Comment=Программа для управления VPN
Exec=/path/to/run_kill_switch.sh
Icon=/path/to/Kill_Switch.png
Terminal=false
Type=Application
Categories=Utility;
